*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 50vh;
    border-bottom: 2em solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.poop{
    position: absolute;
    bottom: -0.5em;
    width: 5%;
    
    animation: poop-animation  infinite linear;
    animation-duration: 2.5s;
}

.mario{
    width: 10%;
    position: absolute;
    left: 5%;
    bottom: 0;
    z-index: 1;
}

.jump{
    animation: jump 600ms ease-out;
}

.nuvem{
    width: 30%;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.score{
    width: 100%;
    text-align: center;
    padding: 2em;
    font-size: 2em;
}


@keyframes poop-animation{
    from{
        right: -80vw;
    }

    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 11em;
    }

    50%{
        bottom: 11em;
    }

    60%{
        bottom: 11em;
    }

    100%{
        bottom: 0;
    }


}

@keyframes clouds-animation{
    from{
        right: -40vw;
    }

    to{
        right: 100%;
    }
}